.place {
    padding-bottom: 80px;
  }

  @media screen and (max-width: 1024px) {
    .place {
      padding-bottom: 80px;
      
    }
  }

  @media screen and (max-width: 768px) {
    .place {
      padding-bottom: 73px;
    }
  }

@media all and (max-width: 320px) {
  .place {
    padding-bottom: 50px;
  }
}