.place__link-container {
    margin-left: 40px;
    align-self: flex-end;
  }


  @media screen and (max-width: 1024px) {
  .place__link-container {
    margin-left: 32px;
  }
}


@media screen and (max-width: 768px) {
  .place__link-container {
    margin-left: 28px;
  }
}

@media all and (max-width: 320px) {
  .place__link-container {
    margin-left: 16px;
  }

}