.footer__links {
  list-style: none;
  display: flex;
  float: left;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width: 320px) {
  .footer__links {
    list-style: none;
    display: block;
  }
}
