.cover {
  max-width: 1184px;
  background: url(../../images/cover-trains.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  max-height: 740px;
  height: 100%;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.cover:hover {
  opacity: 0.8;
  cursor: url(../../images/cursor.png), pointer;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
  }
}
