.place__info-container {
    display: flex;
    margin-bottom: 48px;
  }

  @media all and (max-width: 320px) {
    .place__info-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 32px;
    }
  
  }