.footer {
  width: 100%;
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-left: 24px;
    padding-top: 88px;
    padding-right: 24px;
  }
}

@media all and (max-width: 320px) {
  .footer {
    width: 100%;
    max-width: 186px;
    padding-top: 64px;
    padding-bottom: 24px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}
